html {
    background-color: blue;
    padding: 0px;
}
.box1 {
    width: 100px;
    padding: 15px;
    border-width: 5px;
    margin 10px;
    background-color: bisque;
}
.line {
    height: 3px;
    width: 130px;
    background-color: aliceblue;
}